@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.color1 {color: hsla(218, 55%, 29%, 100%)};
.color2 {color: hsla(168, 100%, 19%, 100%)};
.color3 {color: hsl(218, 55%, 29%)}
.color3 {color: hsl(25, 24%, 32%)}
.color3 {color: hsl(340, 10%, 12%)}
.color3 {color: hsl(7, 100%, 11%)}
.color3 {color: hsl(252, 10%, 10%)}


header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5px;
	padding-top: 15px;
	padding-left: 60px;
	padding-right: 0px;
    background: hsl(252, 10%, 10%);
    color: white;
    width: 100%;
}

header h1 {
    font-size: 55px;
    font-style: normal;
    font-weight: 1px;
    text-align: left;
    font-family: 'Sacramento', cursive;
}

header img {
	width: 85px;
	align-self: flex-start;
	padding-bottom: 58px;
}


nav {
    background-color: hsl(7, 100%, 11%);
    color: white;
    font-family: 'Lato', sans-serif;
}

#main-nav {
    float: left;
    height: 100vh;
    padding: 25px 30px;
}

#nav-list {
    display: flex;
    flex-direction: column;

}

.click-able:hover, #family-list li:hover {
    cursor: pointer;
}

.click-able:active, #family-list li:active {
    color: hsl(0, 0%, 69%);
}

#family-list li {
    padding-left: 30px;
    font-size: 12px;
}

#user-name {
    font-size: 25px;
    order: -3;
    font-family: 'Libre Franklin', sans-serif;
    border-bottom: double;
    padding-bottom: 2px;
}

#fishing-log {
    order: -2;
    font-family: 'Kalam', cursive;
    font-size: 20px;
}

#new-log {
    order: -1;
    font-size: 16px;
    margin-bottom: 14px;
}

#patterns, #viewfamily, #family-list, #add-new-pattern {
    font-size: 13px;
}

main {
    margin-left: 206px;
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    height: 100%;
    height: auto;
    margin-bottom: 50px;
    padding-left: 25px;
    padding-top: 25px;
}

h4 {
    font-style: bold;
    font-size: medium;
    padding-bottom: 8px;
}

li {
    margin: 7px 8px;
    font-style: normal;
    font-size: small;
}

footer {
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: hsl(252, 10%, 10%);
    color: white;
    padding: 1rem 1rem;
    margin-top: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#logout {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

#login-link:active {
	color: hsl(0, 0%, 69%);
}

#form-container {
    display: grid;
    grid-template-columns: minmax(200px, 400px) auto;
    grid-template-rows: 10px auto auto auto;
    justify-items: flex-start;
    column-gap: 2%;
}

#form-container img{
    width: 100%;
    grid-row: 1 / span 4;
}


#new-pattern-form {
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 13rem 13rem;
    align-items: center;
    justify-content: center;
    justify-items: end;
    grid-column-gap: 7px;
    grid-row-gap: 5px;
}

#new-color-form {
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: 13rem 13rem;
    align-items: center;
    justify-content: center;
    justify-items: end;
    grid-column-gap: 7px;
    grid-row-gap: 5px;
}

#editUser {
    grid-row: 2 / span 2;
    display: grid;
    grid-template-columns: 13rem 13rem;
    align-items: center;
    justify-content: center;
    justify-items: end;
    grid-column-gap: 7px;
    grid-row-gap: 5px;
}

#editUser label {
    text-align: right;
}

#create-log{
    grid-row: 2 / span 2;
    display: grid;
    grid-template-columns: 13rem 13rem;
    align-items: center;
    justify-content: center;
    justify-items: end;
    grid-column-gap: 7px;
    grid-row-gap: 5px;
}

#addToLog{
    margin-top: 11px;
}

#errors {
    color: red;
    grid-column: 1 / span 2;
    align-self: stretch;
    justify-self: stretch;
    text-align: center;
}

#errors li {
    font-size: 11px;
}

#new-pattern-form, #editUser {
    margin-top: 10px;
    margin-bottom: 3rem;
}

#new-pattern-form label {
    align-self: center;
    justify-self: end;
    text-align: end;
}

#new-pattern-form h2, #new-color-form h3, #editUser h2, #create-log h2 {
    grid-column: 1 / span 2;
    align-self: stretch;
    justify-self: stretch;
    text-align: center;
    padding: 15px;
    margin-bottom: 5px;
    font-family: 'Kalam', cursive;
    font-size: 23px;
}


#new-pattern-form .patternInput, #editUser .userinput, #create-log .userinput {
    align-self: center;
    justify-self: start;
}

#select-family, #pattern-select, #color-select {
    width: 130px;
    align-self: center;
    justify-self: start;
}

#pattern-button, #color-button, #changeUser, #deleteUser, #addToLog{
    grid-column: 1 / span 2;
    align-self: center;
    justify-self: center;
    width: 10rem;
}

#changeUser {
    margin: 10px;
}

#pattern-button{
    margin-top: 5px;
}

#color-button{
    margin-top: 7px;
}

#new-color-form .color-input {
    justify-self: start;
}

#color-name{
    margin: 2px 0px;
}

#new-color-form .sidenote {
    grid-column: 1;
    text-align: right;
    font-size: 10px;
}

#new-color-form label {
    text-align: right;
}

#new-color-form #name-of-color-input{
    align-self: start;
    margin-top: 3px;
}

#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 10px;
}

.log-card {
    display: grid;
    grid-template-columns: minmax(200px, 400px) minmax(5px, 200px) auto;
    grid-template-rows: auto auto auto auto;
    align-content: start;
    column-gap: 1%;
    row-gap: 1%;
    margin-bottom: 65px;
    max-width: 850px;
}

.log-card h4{
    grid-column: 1 / span 2;
    font-size: 23px;
    border-bottom: double;
}

.log-card .day-card-img {
    grid-row: 2 / span 3;
    width: 100%;
    align-self: start;
}

.log-card ul {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
}

.log-card .day-card-pattern {
    grid-column: 2 / span 1;
    grid-row: 3;
    align-self: start;
    width: 100%;
    padding-left: 7px;
}

.log-card p {
    grid-column: 2/ span 2;
    padding-left: 7px;
}

.card {
    display: grid;
    grid-template-rows: 40px auto auto auto auto;
    width: 350px;
    margin: 1rem;
}

.card h3 {
    font-weight: bolder;
    font-size:  18px;
    text-align: center;
}

.main-img {
    grid-row: 2;
}

.main-img img{
    width: 100%;
}

.card > p {
    padding: 1rem;
    font-size: 14px;
}

.card li {
    font-size: 12px;
    padding-left: 2rem;
}

.flyThumbnail {
    width: 5rem;
    margin: 1rem;
    transition: transform .2s;
}

.flyThumbnail:hover{
    z-index: 1;
    transform: scale(1.5);
    border: 1px solid black;
}